infra/n8n/bwana_chat_pipeline.json
{
  "name": "ZedApply - Bwana Chat Pipeline",
  "meta": {
    "description": "Optional legacy pipeline. Prefer backend in-process FAQ/escalation/LLM when BWANA_N8N_WEBHOOK_URL is empty on OCI. Escalation WAHA uses env ADMIN_ALERT_PHONE unless backend bwana_platform_config is used. Secrets via n8n env only.",
    "n8nWorkflowId": "TPDJ5S1HaRKZTdb1",
    "requiredEnv": [
      "OPENROUTER_API_KEY",
      "WAHA_API_URL",
      "WAHA_API_KEY",
      "ADMIN_ALERT_PHONE",
      "OPENROUTER_MODEL"
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bwana-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Bwana Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        144
      ],
      "webhookId": "zedapply-bwana-chat"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst message = String(body.message || '').trim();\nconst userId = String(body.user_id || 'unknown');\nconst userName = String(body.user_name || '');\nconst sessionId = String(body.session_id || '');\nconst history = Array.isArray(body.history) ? body.history : [];\nconst norm = message.toLowerCase();\n\nconst escalatePhrases = ['talk to human','speak to a human','human support','real person','support agent','customer support','kaluba','speak to someone','talk to someone'];\nconst unsatisfiedPhrases = ['not satisfied','unsatisfied','not happy','unhappy with','this is useless','waste of time'];\nconst contactPhrases = ['contact admin','contact support','support email','support phone','how do i contact','how to contact','what\\'s your email','what is your email'];\nconst callbackPhrases = ['call me back','contact me back','reach out to me','get back to me'];\n\nfunction ticketId() {\n  return 'ZD-' + Math.random().toString(16).slice(2, 10).toUpperCase();\n}\nfunction containsAny(text, list) { return list.some(p => text.includes(p)); }\nfunction isEscalate(text) {\n  if (containsAny(text, contactPhrases) && !containsAny(text, callbackPhrases) && !containsAny(text, escalatePhrases)) return false;\n  return containsAny(text, escalatePhrases) || /\\b(support|agent)\\b/i.test(text);\n}\n\nfunction pricing() {\n  return 'ZedApply plans (ZMW/month):\\n\u2022 Free \u2014 K0, 10 matches/mo\\n\u2022 Starter \u2014 K125, 50 matches/mo (no tailored CV)\\n\u2022 Professional \u2014 K250, 125 matches/mo (+ cover letters + tailored CVs)\\n\u2022 Super Standard \u2014 K500, unlimited matches + Bwana Interview\\nUpgrade at /pricing. Pay with MTN/Airtel (Lenco) or card (DPO).';\n}\n\nlet source = 'llm';\nlet response = '';\nlet escalation_ticket_id = '';\n\nif (!message) {\n  return [{ json: { user_id: userId, user_name: userName, session_id: sessionId, message, history, source: 'faq', response: 'Please type a question.', took_ms: 0, escalate: false } }];\n}\n\nif (containsAny(norm, contactPhrases) && !containsAny(norm, callbackPhrases) && !containsAny(norm, escalatePhrases)) {\n  source = 'faq';\n  response = 'Contact ZedApply Support: email support@zedapply.com or call +260971234567. We aim to respond within 24 hours on business days.';\n} else if (containsAny(norm, unsatisfiedPhrases) || isEscalate(norm)) {\n  escalation_ticket_id = ticketId();\n  source = 'escalated';\n  response = \"I've flagged this for ZedApply Support (ref \" + escalation_ticket_id + \"). We'll follow up within 24 hours.\";\n} else if (norm.includes('starter') && !norm.includes('professional')) {\n  source = 'faq';\n  response = 'Starter: K125/mo, 50 matches. Advanced CV analysis \u2014 tailored CVs start on Professional. See /pricing.';\n} else if (norm.includes('price') || norm.includes('pricing') || norm.includes('cost') || norm.includes('how much') || norm.includes('k125') || norm.includes('k250') || norm.includes('k500')) {\n  source = 'faq'; response = pricing();\n} else if (norm.includes('how do i apply') || norm.includes('how to apply')) {\n  source = 'faq'; response = 'Upload your CV on /profile, then check /matches. Reply to your WhatsApp digest (07:00) with 1\u20135 for job details.';\n} else if (norm.includes('cancel') || norm.includes('unsubscribe')) {\n  source = 'faq'; response = 'Manage your plan in /settings \u2192 Subscription. Type \"talk to human\" for billing help.';\n} else if (norm.includes('where is my cv') || norm.includes('my cv') || norm.includes('upload cv')) {\n  source = 'faq'; response = 'Your CV is on /profile \u2192 CV & Skills. Upload PDF or DOCX there.';\n} else if (norm.includes('match') && (norm.includes('how') || norm.includes('work') || norm.includes('score'))) {\n  source = 'faq'; response = 'Each match scores 0\u2013100: 50% semantic + 20% skills + 15% experience + 10% location + 5% recency. Open any match to see the breakdown.';\n} else if (norm.includes('refund') || norm.includes('money back')) {\n  source = 'faq'; response = 'Refund within 7 days of payment if you have not generated any AI documents. Email support@zedapply.com or type \"talk to human\".';\n}\n\nreturn [{ json: { user_id: userId, user_name: userName, session_id: sessionId, message, history, source, response, took_ms: 0, escalate: source === 'escalated', escalation_ticket_id } }];"
      },
      "name": "FAQ and Escalation Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "faq-branch",
              "leftValue": "={{ $json.source }}",
              "rightValue": "faq",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "FAQ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "esc-branch",
              "leftValue": "={{ $json.escalate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WAHA_API_URL }}/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $env.WAHA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chatId: ($env.ADMIN_ALERT_PHONE || '+260761359005').replace('+', '') + '@c.us', text: 'Bwana escalation from user ' + ($json.user_name || $json.user_id) + ': ' + $json.message, session: 'default' }) }}"
      },
      "name": "WhatsApp Kaluba",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://www.zedapply.com"
            },
            {
              "name": "X-Title",
              "value": "ZedApply Bwana"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENROUTER_MODEL || $env.LLM_MODEL || 'google/gemini-2.5-flash', max_tokens: 400, messages: [{ role: 'system', content: \"You are Bwana, ZedApply's chatbot career assistant for Zambian professionals. Never say you are an LLM, AI model, language model, ChatGPT, or Claude. Matching: 50% semantic + 20% skills + 15% experience + 10% location + 5% recency. Tiers: Free 10/mo, Starter K125 50/mo (no tailored CV), Professional K250 125/mo (+ tailored CV + cover letters), Super Standard K500 unlimited + Bwana Interview. Lenco MTN/Airtel payments. Daily WhatsApp digest 07:00. Keep responses under 150 words. Suggest paid features only when accurate for the user's tier.\" }, ...($json.history || []).map(h => ({ role: h.role, content: h.content })), { role: 'user', content: $json.message }] }) }}"
      },
      "name": "OpenRouter Bwana LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet response = item.response || '';\nlet source = item.source || 'llm';\nif (item.choices) {\n  response = item.choices?.[0]?.message?.content || response;\n  source = 'llm';\n}\nconst start = item.took_ms || 0;\nreturn [{ json: { response: String(response).trim(), source, took_ms: start, session_id: item.session_id || '' } }];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        128
      ]
    }
  ],
  "connections": {
    "Bwana Webhook": {
      "main": [
        [
          {
            "node": "FAQ and Escalation Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ and Escalation Router": {
      "main": [
        [
          {
            "node": "FAQ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ?": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate?": {
      "main": [
        [
          {
            "node": "WhatsApp Kaluba",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter Bwana LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Kaluba": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Bwana LLM": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
