infra/n8n/daily_digest_dual_channel.json
{
  "name": "ZedApply - Daily Digest (Email + WhatsApp)",
  "meta": {
    "description": "Canonical scheduled digest at 07:00 CAT. Calls admin trigger-daily-digest-email and trigger-daily-digest-whatsapp.",
    "n8nWorkflowId": "j6U2CDRZi0FI5G32",
    "requiredEnv": ["FASTAPI_URL", "INGEST_API_KEY"],
    "optionalEnv": ["ADMIN_API_KEY"]
  },
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }]
        }
      },
      "name": "Every Day at 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-560, 32]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    fastapiUrl: $env[\"FASTAPI_URL\"],\n    ingestKey: $env[\"INGEST_API_KEY\"],\n    adminKey: $env[\"ADMIN_API_KEY\"] || $env[\"INGEST_API_KEY\"]\n  }\n}];"
      },
      "name": "Load cron env",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-336, 32]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.fastapiUrl }}/api/v1/admin/trigger-daily-digest-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "INGEST_API_KEY", "value": "={{ $json.ingestKey }}" },
            { "name": "X-INGEST-API-KEY", "value": "={{ $json.ingestKey }}" },
            { "name": "X-ADMIN-API-KEY", "value": "={{ $json.adminKey }}" }
          ]
        }
      },
      "name": "Send Email Digests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-112, -64]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.fastapiUrl }}/api/v1/admin/trigger-daily-digest-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "INGEST_API_KEY", "value": "={{ $json.ingestKey }}" },
            { "name": "X-INGEST-API-KEY", "value": "={{ $json.ingestKey }}" },
            { "name": "X-ADMIN-API-KEY", "value": "={{ $json.adminKey }}" }
          ]
        }
      },
      "name": "Send WhatsApp Digests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-112, 128]
    }
  ],
  "connections": {
    "Every Day at 7AM": {
      "main": [[{ "node": "Load cron env", "type": "main", "index": 0 }]]
    },
    "Load cron env": {
      "main": [
        [
          { "node": "Send WhatsApp Digests", "type": "main", "index": 0 },
          { "node": "Send Email Digests", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
