infra/n8n/job_scraper.json
{
  "name": "ZedApply Job Scraper",
  "meta": {
    "description": "Scrapes 4 Zambian job sites every 12h. LLM via OpenRouter (google/gemini-2.5-flash). Ingest auth via Normalize passthrough (fastapiUrl/ingestKey from $env in Code node).",
    "n8nWorkflowId": "rsgZLi6UAcC3lXvu",
    "exportNote": "Import into n8n; set OPENROUTER_API_KEY (+ optional OPENROUTER_MODEL) in n8n env; set INGEST_API_KEY."
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {},
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        784
      ]
    },
    {
      "parameters": {
        "url": "https://www.gozambiajobs.com/jobs",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch GoZambiaJobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const SITE_BASE = 'https://www.gozambiajobs.com';\nconst NL = String.fromCharCode(10);\nconst raw = ($json.data || '');\nconst absUrl = (href) => {\n  if (!href || href.startsWith('javascript:') || href.startsWith('#') || href.startsWith('mailto:')) return null;\n  try {\n    if (href.startsWith('http://') || href.startsWith('https://')) return href.split('#')[0];\n    if (href.startsWith('/')) return SITE_BASE.replace(/\\/$/, '') + href.split('#')[0];\n  } catch (e) {}\n  return null;\n};\nconst listingLinks = [];\nconst hrefRe = /href\\s*=\\s*[\"']([^\"']+)[\"']/gi;\nlet hm;\nwhile ((hm = hrefRe.exec(raw)) !== null && listingLinks.length < 200) {\n  const u = absUrl(hm[1]);\n  if (!u) continue;\n  const low = u.toLowerCase();\n  if ((low.includes('gozambiajobs') && /\\/job\\//.test(low)) || low.includes('/job') || low.includes('/vacanc') || low.includes('/career') || low.includes('/position') || low.includes('/opportunit')) {\n    if (!listingLinks.includes(u)) listingLinks.push(u);\n  }\n}\nconst linksBlock = listingLinks.length\n  ? NL + NL + 'EXTRACTED_LISTING_LINKS (use the best match as source_url per job):' + NL + listingLinks.join(NL)\n  : '';\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. posted_at must be ISO YYYY-MM-DD or null (never relative like 9h ago). For each job, set source_url from EXTRACTED_LISTING_LINKS when it matches that job (full per-job URL only; never the site homepage). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nconst fullPrompt = prompt + linksBlock + NL + NL + 'TEXT:' + NL + text;\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: fullPrompt }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    },\n    extractedLinks: listingLinks,\n    siteHost: SITE_BASE.replace(/^https?:\\/\\//, '').replace(/\\/$/, ''),\n  }\n}];\n"
      },
      "name": "Prep GoZambia Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://www.zedapply.com"
            },
            {
              "name": "X-Title",
              "value": "ZedApply Job Scraper"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENROUTER_MODEL || $env.LLM_MODEL || 'google/gemini-2.5-flash', max_tokens: 32768, temperature: 0.1, response_format: { type: 'json_object' }, messages: [{ role: 'user', content: $json.geminiBody.contents[0].parts[0].text }] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse GoZambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://jobwebzambia.com/",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch JobWebZambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const SITE_BASE = 'https://jobwebzambia.com';\nconst NL = String.fromCharCode(10);\nconst raw = ($json.data || '');\nconst absUrl = (href) => {\n  if (!href || href.startsWith('javascript:') || href.startsWith('#') || href.startsWith('mailto:')) return null;\n  try {\n    if (href.startsWith('http://') || href.startsWith('https://')) return href.split('#')[0];\n    if (href.startsWith('/')) return SITE_BASE.replace(/\\/$/, '') + href.split('#')[0];\n  } catch (e) {}\n  return null;\n};\nconst listingLinks = [];\nconst hrefRe = /href\\s*=\\s*[\"']([^\"']+)[\"']/gi;\nlet hm;\nwhile ((hm = hrefRe.exec(raw)) !== null && listingLinks.length < 200) {\n  const u = absUrl(hm[1]);\n  if (!u) continue;\n  const low = u.toLowerCase();\n  if ((low.includes('jobwebzambia') && /\\/jobs\\/[^\\/]+/.test(low)) || low.includes('/job') || low.includes('/vacanc') || low.includes('/career') || low.includes('/position') || low.includes('/opportunit')) {\n    if (!listingLinks.includes(u)) listingLinks.push(u);\n  }\n}\nconst linksBlock = listingLinks.length\n  ? NL + NL + 'EXTRACTED_LISTING_LINKS (use the best match as source_url per job):' + NL + listingLinks.join(NL)\n  : '';\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. posted_at must be ISO YYYY-MM-DD or null (never relative like 9h ago). For each job, set source_url from EXTRACTED_LISTING_LINKS when it matches that job (full per-job URL only; never the site homepage). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nconst fullPrompt = prompt + linksBlock + NL + NL + 'TEXT:' + NL + text;\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: fullPrompt }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    },\n    extractedLinks: listingLinks,\n    siteHost: SITE_BASE.replace(/^https?:\\/\\//, '').replace(/\\/$/, ''),\n  }\n}];\n"
      },
      "name": "Prep JobWebZambia Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://www.zedapply.com"
            },
            {
              "name": "X-Title",
              "value": "ZedApply Job Scraper"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENROUTER_MODEL || $env.LLM_MODEL || 'google/gemini-2.5-flash', max_tokens: 32768, temperature: 0.1, response_format: { type: 'json_object' }, messages: [{ role: 'user', content: $json.geminiBody.contents[0].parts[0].text }] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse JobWebZambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=Zambia&start=0&f_TPR=r604800",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch LinkedIn Zambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const SITE_BASE = 'https://www.linkedin.com';\nconst NL = String.fromCharCode(10);\nconst raw = ($json.data || '');\nconst absUrl = (href) => {\n  if (!href || href.startsWith('javascript:') || href.startsWith('#') || href.startsWith('mailto:')) return null;\n  try {\n    if (href.startsWith('http://') || href.startsWith('https://')) return href.split('#')[0];\n    if (href.startsWith('/')) return SITE_BASE.replace(/\\/$/, '') + href.split('#')[0];\n  } catch (e) {}\n  return null;\n};\nconst listingLinks = [];\nconst hrefRe = /href\\s*=\\s*[\"']([^\"']+)[\"']/gi;\nlet hm;\nwhile ((hm = hrefRe.exec(raw)) !== null && listingLinks.length < 200) {\n  const u = absUrl(hm[1]);\n  if (!u) continue;\n  const low = u.toLowerCase();\n  if (low.includes('/job') || low.includes('/vacanc') || low.includes('/career') || low.includes('/position') || low.includes('/opportunit')) {\n    if (!listingLinks.includes(u)) listingLinks.push(u);\n  }\n}\nconst linksBlock = listingLinks.length\n  ? NL + NL + 'EXTRACTED_LISTING_LINKS (use the best match as source_url per job):' + NL + listingLinks.join(NL)\n  : '';\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. posted_at must be ISO YYYY-MM-DD or null (never relative like 9h ago). For each job, set source_url from EXTRACTED_LISTING_LINKS when it matches that job (full per-job URL only; never the site homepage). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nconst fullPrompt = prompt + linksBlock + NL + NL + 'TEXT:' + NL + text;\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: fullPrompt }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    },\n    extractedLinks: listingLinks,\n    siteHost: SITE_BASE.replace(/^https?:\\/\\//, '').replace(/\\/$/, ''),\n  }\n}];\n"
      },
      "name": "Prep LinkedIn Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://www.zedapply.com"
            },
            {
              "name": "X-Title",
              "value": "ZedApply Job Scraper"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENROUTER_MODEL || $env.LLM_MODEL || 'google/gemini-2.5-flash', max_tokens: 32768, temperature: 0.1, response_format: { type: 'json_object' }, messages: [{ role: 'user', content: $json.geminiBody.contents[0].parts[0].text }] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        592
      ]
    },
    {
      "parameters": {
        "url": "https://www.jobsearchzm.com/",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch JobSearchZM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "const SITE_BASE = 'https://www.jobsearchzm.com';\nconst NL = String.fromCharCode(10);\nconst raw = ($json.data || '');\nconst absUrl = (href) => {\n  if (!href || href.startsWith('javascript:') || href.startsWith('#') || href.startsWith('mailto:')) return null;\n  try {\n    if (href.startsWith('http://') || href.startsWith('https://')) return href.split('#')[0];\n    if (href.startsWith('/')) return SITE_BASE.replace(/\\/$/, '') + href.split('#')[0];\n  } catch (e) {}\n  return null;\n};\nconst listingLinks = [];\nconst hrefRe = /href\\s*=\\s*[\"']([^\"']+)[\"']/gi;\nlet hm;\nwhile ((hm = hrefRe.exec(raw)) !== null && listingLinks.length < 200) {\n  const u = absUrl(hm[1]);\n  if (!u) continue;\n  const low = u.toLowerCase();\n  if ((low.includes('jobsearchzm') && /\\/(job|jobs|vacanc)[\\/\\-]/i.test(low)) || low.includes('/job') || low.includes('/vacanc') || low.includes('/career') || low.includes('/position') || low.includes('/opportunit')) {\n    if (!listingLinks.includes(u)) listingLinks.push(u);\n  }\n}\nconst linksBlock = listingLinks.length\n  ? NL + NL + 'EXTRACTED_LISTING_LINKS (use the best match as source_url per job):' + NL + listingLinks.join(NL)\n  : '';\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. posted_at may be ISO YYYY-MM-DD or relative text from the page (e.g. Posted 19 hours ago). For each job, set source_url from EXTRACTED_LISTING_LINKS when it matches that job (per-job paths like /job/slug/ on jobsearchzm.com). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nconst fullPrompt = prompt + linksBlock + NL + NL + 'TEXT:' + NL + text;\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: fullPrompt }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    },\n    extractedLinks: listingLinks,\n    siteHost: SITE_BASE.replace(/^https?:\\/\\//, '').replace(/\\/$/, ''),\n  }\n}];\n"
      },
      "name": "Prep JobSearchZM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://www.zedapply.com"
            },
            {
              "name": "X-Title",
              "value": "ZedApply Job Scraper"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OPENROUTER_MODEL || $env.LLM_MODEL || 'google/gemini-2.5-flash', max_tokens: 32768, temperature: 0.1, response_format: { type: 'json_object' }, messages: [{ role: 'user', content: $json.geminiBody.contents[0].parts[0].text }] }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse JobSearchZM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        784
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "name": "Combine All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Paste entire file into n8n \"Normalize and Deduplicate\" Code node.\n// Keeps per-job aggregator URLs (e.g. gozambiajobs.com/jobs/123-slug); drops homepages only.\n\nconst AGGREGATOR_HOSTS = new Set([\n  'jobwebzambia.com',\n  'gozambiajobs.com',\n  'jobsearchzambia.com',\n  'jobsearchzm.com',\n]);\n\nconst AGG_INDEX_SEGMENTS = new Set([\n  'jobs',\n  'job',\n  'vacancies',\n  'careers',\n  'index.php',\n  'index.html',\n]);\n\nfunction decodeUrl(raw) {\n  return String(raw || '')\n    .trim()\n    .replace(/&amp;/gi, '&')\n    .replace(/&#38;/gi, '&');\n}\n\n// n8n Code sandbox often lacks global URL (see n8n-io/n8n#19434). Regex only.\nfunction parseHttpUrl(raw) {\n  const cleaned = decodeUrl(raw);\n  if (!/^https?:\\/\\//i.test(cleaned)) return null;\n  const m = cleaned.match(/^(https?):\\/\\/([^/?#]+)(\\/[^?#]*)?(?:[?#].*)?$/i);\n  if (!m) return null;\n  let host = (m[2] || '').toLowerCase();\n  if (host.startsWith('www.')) host = host.slice(4);\n  const pathname = m[3] || '/';\n  return { host, pathname, href: cleaned.substring(0, 2000) };\n}\n\nfunction sanitizeListingSourceUrl(raw) {\n  if (raw == null || raw === '') return null;\n  const parsed = parseHttpUrl(raw);\n  if (!parsed) return null;\n  const { host, pathname, href } = parsed;\n  const isAgg =\n    AGGREGATOR_HOSTS.has(host) ||\n    [...AGGREGATOR_HOSTS].some((d) => host === d || host.endsWith('.' + d));\n  if (!isAgg) return href;\n  const segs = pathname.replace(/^\\/+|\\/+$/g, '').split('/').filter(Boolean);\n  if (segs.length === 0) return null;\n  if (segs.length === 1 && AGG_INDEX_SEGMENTS.has(segs[0].toLowerCase())) return null;\n  return href;\n}\n\nfunction normPostedAt(raw) {\n  if (!raw) return null;\n  const s = String(raw).trim();\n  if (/^\\d{4}-\\d{2}-\\d{2}/.test(s)) return s.substring(0, 10);\n  const parsed = Date.parse(s);\n  if (!Number.isNaN(parsed)) return new Date(parsed).toISOString().substring(0, 10);\n  // \"9h ago\", \"Posted 19 hours ago\", \"Posted 4 minutes ago\"\n  const rel = s.match(\n    /(?:posted\\s+)?(\\d+)\\s*(minute|min|hour|hr|h|day|d|week|w|month|m)s?\\s+ago/i\n  );\n  if (rel) {\n    const n = parseInt(rel[1], 10);\n    const unit = rel[2].toLowerCase();\n    const d = new Date();\n    if (unit.startsWith('min')) d.setMinutes(d.getMinutes() - n);\n    else if (unit.startsWith('h') || unit === 'hr') d.setHours(d.getHours() - n);\n    else if (unit.startsWith('d')) d.setDate(d.getDate() - n);\n    else if (unit.startsWith('w')) d.setDate(d.getDate() - n * 7);\n    else if (unit.startsWith('m')) d.setMonth(d.getMonth() - n);\n    return d.toISOString().substring(0, 10);\n  }\n  return null;\n}\n\nfunction slugify(t) {\n  return String(t || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n}\n\nfunction matchLinkForJob(job, links) {\n  if (!links || !links.length) return null;\n  const titleSlug = slugify(job.title);\n  const words = titleSlug.split('-').filter((w) => w.length > 3);\n  let best = null;\n  let bestScore = 0;\n  for (const url of links) {\n    const path = url.toLowerCase();\n    let score = 0;\n    if (titleSlug.length > 8 && path.includes(titleSlug.slice(0, 48))) score += 12;\n    for (const w of words) {\n      if (path.includes(w)) score += 2;\n    }\n    if (score > bestScore) {\n      bestScore = score;\n      best = url;\n    }\n  }\n  return bestScore >= 3 ? best : null;\n}\n\nfunction parseJobsPayload(item) {\n  const j = item.json || {};\n  if (j.error) return null;\n  if (j.jobs && Array.isArray(j.jobs)) return j;\n\n  let text = null;\n  if (j.choices?.[0]?.message?.content) {\n    text = j.choices[0].message.content;\n  } else if (j.data?.choices?.[0]?.message?.content) {\n    text = j.data.choices[0].message.content;\n  } else if (j.candidates?.[0]?.content?.parts?.[0]?.text) {\n    text = j.candidates[0].content.parts[0].text;\n  } else if (j.text) {\n    text = typeof j.text === 'string' ? j.text : JSON.stringify(j.text);\n  }\n\n  if (text) {\n    const trimmed = text.trim();\n    try {\n      const direct = JSON.parse(trimmed);\n      if (direct && Array.isArray(direct.jobs)) return direct;\n    } catch {\n      /* fall through */\n    }\n    const m = trimmed.match(/\\{[\\s\\S]*\"jobs\"[\\s\\S]*\\}/);\n    if (m) return JSON.parse(m[0]);\n  }\n\n  const blob = JSON.stringify(j);\n  const m = blob.match(/\\{[\\s\\S]*\"jobs\"[\\s\\S]*\\}/);\n  if (m) return JSON.parse(m[0]);\n  return null;\n}\n\nfunction resolveSourceUrl(job, linkPool) {\n  const candidates = [job.source_url, job.apply_url].filter(Boolean);\n  for (const raw of candidates) {\n    const kept = sanitizeListingSourceUrl(raw);\n    if (kept) return kept;\n  }\n  const guessed = matchLinkForJob(job, linkPool);\n  return guessed ? sanitizeListingSourceUrl(guessed) : null;\n}\n\nconst prepNames = [\n  'Prep GoZambia Body',\n  'Prep JobWebZambia Body',\n  'Prep LinkedIn Body',\n  'Prep JobSearchZM Body',\n];\n\nfunction linksForBranch(index) {\n  try {\n    const prep = $(prepNames[index]).first();\n    const links = prep?.json?.extractedLinks;\n    return Array.isArray(links) ? links : [];\n  } catch {\n    return [];\n  }\n}\n\nconst allJobs = [];\nconst seen = new Set();\nconst inputs = $input.all();\n\nfor (let branch = 0; branch < inputs.length; branch++) {\n  const item = inputs[branch];\n  const linkPool = linksForBranch(branch);\n  let data;\n  try {\n    data = parseJobsPayload(item);\n  } catch {\n    continue;\n  }\n  if (!data?.jobs) continue;\n\n  for (const j of data.jobs) {\n    const titleTrim = String(j.title || '').trim();\n    if (titleTrim.length < 3) continue;\n\n    const sourceUrl = resolveSourceUrl(j, linkPool);\n    const hasContact = !!(j.apply_url || j.apply_email || sourceUrl);\n    const descRaw = (j.description || '')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n\n    if (descRaw.length < 10 && !hasContact) continue;\n\n    const description =\n      descRaw.length >= 10\n        ? descRaw.substring(0, 5000)\n        : [\n            (j.title || '').trim(),\n            j.company ? 'at ' + j.company : '',\n            j.location ? 'in ' + j.location : '',\n            sourceUrl ? 'Details: ' + sourceUrl : '',\n          ]\n            .filter(Boolean)\n            .join(' ')\n            .substring(0, 5000);\n\n    const k = (j.title + '|' + (j.company || '')).toLowerCase().trim();\n    if (seen.has(k)) continue;\n    seen.add(k);\n\n    allJobs.push({\n      title: (j.title || '').trim().substring(0, 200),\n      company: (j.company || '').trim().substring(0, 200) || null,\n      location: (j.location || '').trim() || null,\n      description,\n      requirements: Array.isArray(j.requirements) ? j.requirements : [],\n      skills_required: Array.isArray(j.skills_required) ? j.skills_required : [],\n      salary_min: j.salary_min || null,\n      salary_max: j.salary_max || null,\n      apply_url: j.apply_url || null,\n      apply_email: j.apply_email || null,\n      source: 'scraper',\n      source_url: sourceUrl,\n      closing_date: j.closing_date || null,\n      posted_at: normPostedAt(j.posted_at),\n    });\n  }\n}\n\nreturn [{\n  json: {\n    jobs: allJobs,\n    count: allJobs.length,\n    // Code nodes can read $env even when HTTP Request expressions cannot\n    // (N8N_BLOCK_ENV_ACCESS_IN_EXPRESSIONS). Downstream HTTP nodes use $json.*.\n    fastapiUrl: (typeof $env !== 'undefined' && $env.FASTAPI_URL)\n      ? String($env.FASTAPI_URL).replace(/\\/$/, '')\n      : 'http://zedcv-backend:8000',\n    ingestKey: (typeof $env !== 'undefined' && $env.INGEST_API_KEY)\n      ? String($env.INGEST_API_KEY)\n      : '',\n  },\n}];\n"
      },
      "name": "Normalize and Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.fastapiUrl || 'http://zedcv-backend:8000') + '/api/v1/jobs/ingest' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobs: $json.jobs, api_key: $json.ingestKey }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "name": "Send to ZedApply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{message:\"No jobs found in this scrape run\",ts:new Date().toISOString()}}];"
      },
      "name": "No Jobs Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($('Normalize and Deduplicate').item.json.fastapiUrl || 'http://zedcv-backend:8000') + '/api/v1/jobs/deep-enrich-tick?limit=80&include_review_queue=true' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-INGEST-API-KEY",
              "value": "={{ $('Normalize and Deduplicate').item.json.ingestKey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 600000
        }
      },
      "name": "Deep Enrich After Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ]
    }
  ],
  "connections": {
    "Every 12 Hours": {
      "main": [
        [
          {
            "node": "Fetch GoZambiaJobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobWebZambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Zambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobSearchZM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test": {
      "main": [
        [
          {
            "node": "Fetch GoZambiaJobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobWebZambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Zambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobSearchZM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GoZambiaJobs": {
      "main": [
        [
          {
            "node": "Prep GoZambia Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep GoZambia Body": {
      "main": [
        [
          {
            "node": "AI Parse GoZambia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse GoZambia": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch JobWebZambia": {
      "main": [
        [
          {
            "node": "Prep JobWebZambia Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep JobWebZambia Body": {
      "main": [
        [
          {
            "node": "AI Parse JobWebZambia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse JobWebZambia": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch LinkedIn Zambia": {
      "main": [
        [
          {
            "node": "Prep LinkedIn Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep LinkedIn Body": {
      "main": [
        [
          {
            "node": "AI Parse LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse LinkedIn": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch JobSearchZM": {
      "main": [
        [
          {
            "node": "Prep JobSearchZM Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep JobSearchZM Body": {
      "main": [
        [
          {
            "node": "AI Parse JobSearchZM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse JobSearchZM": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Combine All Sources": {
      "main": [
        [
          {
            "node": "Normalize and Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Deduplicate": {
      "main": [
        [
          {
            "node": "Has Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs?": {
      "main": [
        [
          {
            "node": "Send to ZedApply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to ZedApply": {
      "main": [
        [
          {
            "node": "Deep Enrich After Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deep Enrich After Ingest": {
      "main": [
        []
      ]
    }
  }
}
