infra/n8n/job_scraper.json
{
  "name": "ZedApply Job Scraper",
  "meta": {
    "description": "Scrapes 4 Zambian job sites every 12h. Gemini 2.5 Flash (thinking disabled). Ingest auth via INGEST_API_KEY env only.",
    "n8nWorkflowId": "rsgZLi6UAcC3lXvu",
    "exportNote": "Import into n8n; set Google AI credential on Gemini nodes; set INGEST_API_KEY in n8n env."
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {},
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        784
      ]
    },
    {
      "parameters": {
        "url": "https://www.gozambiajobs.com/jobs",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch GoZambiaJobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.data || '');\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. For each job, set source_url to the full per-job listing page URL when visible in the text (never the site homepage). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: prompt + '\\n\\nTEXT:\\n' + text }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    }\n  }\n}];"
      },
      "name": "Prep GoZambia Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse GoZambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://jobwebzambia.com/",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch JobWebZambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.data || '');\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. For each job, set source_url to the full per-job listing page URL when visible in the text (never the site homepage). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: prompt + '\\n\\nTEXT:\\n' + text }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    }\n  }\n}];"
      },
      "name": "Prep JobWebZambia Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse JobWebZambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=&location=Zambia&start=0&f_TPR=r604800",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch LinkedIn Zambia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.data || '');\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. For each job, set source_url to the full per-job listing page URL when visible in the text (never the site homepage). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: prompt + '\\n\\nTEXT:\\n' + text }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    }\n  }\n}];"
      },
      "name": "Prep LinkedIn Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        592
      ]
    },
    {
      "parameters": {
        "url": "https://www.jobsearchzm.com/jobs",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch JobSearchZM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.data || '');\nconst text = raw\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 80000);\nconst prompt = 'Extract ALL real Zambian job listings from the cleaned-text below (not ads, sidebars, navigation, or category labels). Be CONCISE: cap each description at 600 chars; no repeated whitespace or boilerplate. Return ONLY valid JSON: {\"jobs\":[{\"title\":\"\",\"company\":\"\",\"location\":\"\",\"description\":\"\",\"requirements\":[],\"skills_required\":[],\"apply_url\":null,\"source_url\":null,\"closing_date\":null,\"posted_at\":null}]}. For each job, set source_url to the full per-job listing page URL when visible in the text (never the site homepage). Normalize locations to Zambian cities (leave null if unclear). Skip expired or non-Zambia roles. Return {\"jobs\":[]} ONLY if there are literally zero job postings.';\nreturn [{\n  json: {\n    geminiBody: {\n      contents: [{ parts: [{ text: prompt + '\\n\\nTEXT:\\n' + text }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 32768,\n        responseMimeType: 'application/json',\n        thinkingConfig: { thinkingBudget: 0 }\n      }\n    }\n  }\n}];"
      },
      "name": "Prep JobSearchZM Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "AI Parse JobSearchZM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        784
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "name": "Combine All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "function normSourceUrl(raw) {\n  if (!raw) return null;\n  try {\n    const u = new URL(String(raw).trim());\n    const host = (u.hostname || '').toLowerCase().replace(/^www\\./, '');\n    const agg = ['jobwebzambia.com','gozambiajobs.com','jobsearchzambia.com','jobsearchzm.com'];\n    const path = (u.pathname || '/').replace(/\\/+$/, '') || '/';\n    const pathOnly = path === '/' ? '' : path.replace(/^\\//, '');\n    const seg = pathOnly.split('/').filter(Boolean);\n    if (agg.some(d => host === d || host.endsWith('.' + d))) {\n      if (!seg.length || (seg.length === 1 && ['jobs','job','vacancies','careers'].includes(seg[0].toLowerCase()))) return null;\n    }\n    return String(raw).trim().substring(0, 2000);\n  } catch { return null; }\n}\nconst allJobs = [];\nconst seen = new Set();\nfor (const item of $input.all()) {\n  let data;\n  try {\n    if (item.json.jobs && Array.isArray(item.json.jobs)) {\n      data = item.json;\n    } else if (item.json.candidates && item.json.candidates[0]) {\n      const text = item.json.candidates[0].content.parts[0].text;\n      const m = text.match(/\\{[\\s\\S]*\"jobs\"[\\s\\S]*\\}/);\n      if (m) data = JSON.parse(m[0]);\n    } else if (item.json.text) {\n      const text = typeof item.json.text === 'string' ? item.json.text : JSON.stringify(item.json.text);\n      const m = text.match(/\\{[\\s\\S]*\"jobs\"[\\s\\S]*\\}/);\n      if (m) data = JSON.parse(m[0]);\n    } else {\n      const text = JSON.stringify(item.json);\n      const m = text.match(/\\{[\\s\\S]*\"jobs\"[\\s\\S]*\\}/);\n      if (m) data = JSON.parse(m[0]);\n    }\n  } catch (e) { continue; }\n  if (!data || !data.jobs) continue;\n  for (const j of data.jobs) {\n    if (!j.title) continue;\n    const hasRef = j.apply_url || j.apply_email;\n    const descRaw = (j.description || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    if (descRaw.length < 10 && !hasRef) continue;\n    const description = descRaw.length >= 10\n      ? descRaw.substring(0, 5000)\n      : (j.title + (j.company ? ' at ' + j.company : '') + (j.location ? ' in ' + j.location : '') + '. Full details: ' + (j.apply_url || j.apply_email) + '.');\n    const k = (j.title + '|' + (j.company || '')).toLowerCase().trim();\n    if (seen.has(k)) continue;\n    seen.add(k);\n    allJobs.push({\n      title: (j.title || '').trim().substring(0, 200),\n      company: (j.company || '').trim().substring(0, 200) || null,\n      location: (j.location || '').trim() || null,\n      description,\n      requirements: Array.isArray(j.requirements) ? j.requirements : [],\n      skills_required: Array.isArray(j.skills_required) ? j.skills_required : [],\n      salary_min: j.salary_min || null,\n      salary_max: j.salary_max || null,\n      apply_url: j.apply_url || null,\n      apply_email: j.apply_email || null,\n      source: 'scraper',\n      source_url: normSourceUrl(j.source_url || j.apply_url),\n      closing_date: j.closing_date || null,\n      posted_at: j.posted_at || null,\n    });\n  }\n}\nreturn [{ json: { jobs: allJobs, count: allJobs.length } }];"
      },
      "name": "Normalize and Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1552,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.FASTAPI_URL || 'http://zedcv-backend:8000') + '/api/v1/jobs/ingest' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobs: $json.jobs, api_key: $env.INGEST_API_KEY }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "name": "Send to Zed CV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{message:\"No jobs found in this scrape run\",ts:new Date().toISOString()}}];"
      },
      "name": "No Jobs Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        592
      ]
    }
  ],
  "connections": {
    "Every 12 Hours": {
      "main": [
        [
          {
            "node": "Fetch GoZambiaJobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobWebZambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Zambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobSearchZM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test": {
      "main": [
        [
          {
            "node": "Fetch GoZambiaJobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobWebZambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch LinkedIn Zambia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JobSearchZM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GoZambiaJobs": {
      "main": [
        [
          {
            "node": "Prep GoZambia Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep GoZambia Body": {
      "main": [
        [
          {
            "node": "AI Parse GoZambia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse GoZambia": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch JobWebZambia": {
      "main": [
        [
          {
            "node": "Prep JobWebZambia Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep JobWebZambia Body": {
      "main": [
        [
          {
            "node": "AI Parse JobWebZambia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse JobWebZambia": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch LinkedIn Zambia": {
      "main": [
        [
          {
            "node": "Prep LinkedIn Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep LinkedIn Body": {
      "main": [
        [
          {
            "node": "AI Parse LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse LinkedIn": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch JobSearchZM": {
      "main": [
        [
          {
            "node": "Prep JobSearchZM Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep JobSearchZM Body": {
      "main": [
        [
          {
            "node": "AI Parse JobSearchZM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse JobSearchZM": {
      "main": [
        [
          {
            "node": "Combine All Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Combine All Sources": {
      "main": [
        [
          {
            "node": "Normalize and Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Deduplicate": {
      "main": [
        [
          {
            "node": "Has Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs?": {
      "main": [
        [
          {
            "node": "Send to Zed CV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
