infra/n8n/subscription_renewal_reminder.json
{
  "name": "ZedApply - Subscription Renewal Reminder",
  "meta": {
    "requiredEnv": ["FASTAPI_URL", "INGEST_API_KEY"],
    "optionalEnv": ["ADMIN_API_KEY"]
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "name": "Every Day at 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    fastapiUrl: $env[\"FASTAPI_URL\"],\n    ingestKey: $env[\"INGEST_API_KEY\"],\n    adminKey: $env[\"ADMIN_API_KEY\"] || $env[\"INGEST_API_KEY\"]\n  }\n}];"
      },
      "name": "Load cron env",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.fastapiUrl }}/api/v1/admin/trigger-renewal-reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "INGEST_API_KEY", "value": "={{ $json.ingestKey }}" },
            { "name": "X-INGEST-API-KEY", "value": "={{ $json.ingestKey }}" },
            { "name": "X-ADMIN-API-KEY", "value": "={{ $json.adminKey }}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "name": "Send Renewal Reminder Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [480, 300]
    }
  ],
  "connections": {
    "Every Day at 9AM": {
      "main": [[{ "node": "Load cron env", "type": "main", "index": 0 }]]
    },
    "Load cron env": {
      "main": [[{ "node": "Send Renewal Reminder Emails", "type": "main", "index": 0 }]]
    }
  }
}
